/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #4c74af;
    padding: 15px 0;
    color: white;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

nav ul li a:hover,
nav ul li a.active {
    background-color: #4560a0;
    border-radius: 5px;
}

main {
    padding: 20px;
    text-align: center;
}

#content-section {
    margin-top: 20px;
}

iframe {
    width: 100%;
    height: calc(100vh - 60px); /* Adjust height as per your header height */
    border: none;
}


.black-footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 40px;
    width: 100%; 
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.footer-content nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content nav ul li {
    margin: 10px 0;
}

.footer-content nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-content nav ul li a:hover {
    color: #ff9800; /* Change this to any color you prefer */
}

.social-media {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-media a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 20px;
    transition: color 0.3s;
}

.social-media a:hover {
    color: #ff9800; /* Change this to any color you prefer */
}

footer p {
    margin-top: 10px;
    font-size: 14px;
}

@media (min-width: 600px) {
    .footer-content {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-content nav ul {
        flex-direction: row;
    }

    .footer-content nav ul li {
        margin: 0 10px;
    }
}
