*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    background-color: #ffffff;
    color: #0F52BA;
    font-family: Lato,sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
.row{
    max-width: 1140px;
    margin: 0 auto;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('img3.webp');
    background-attachment: fixed; 
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.h11{
    padding-bottom: 50px;
    border-bottom: 50px;
}
.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50% ;
    left: 50% ;
    transform:translate(-50%,-50%);
}
.btn:link,   
.btn:visited,
input[type=submit]
{
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 300;
    border-radius: 200px;
    transition: background-color 0.2s,border 0.2s,color 0.2s; 
}
.btn-full:link,
.btn-full:visited,
input[type=submit]{
    background-color: #0F52BA;
    color: #fff;
    border: 1px solid #0F52BA;
    margin-right: 25px;
}
.btn-ghost:visited,
.btn-ghost:link{
    border: 1px solid #0F52BA;
    color: #0F52BA;
}
.btn:hover,
.btn:active,
input[type=submit]{
    background-color: #4169E1;
}
.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #4169E1;
    color: #fff;
}
.btn-full:hover,
.btn-full:active,
input[type=submit]{
    border: 1px solid #4169E1;
}
.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}
.main-nav{
    float: right;
    list-style: none;
    margin-top: 55px;
}
.main-nav li{
    display: inline-block;
    margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    padding: 8px 0;
    transition: border-bottom 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #0F52BA;
}
footer{
    background-color: #333;
    font-size: 80%;
    padding: 50px;  
  }
  .footer-nav{
      list-style: none;
      float: left;
  }
  .social-links{
      list-style: none;
      float: right;
  }
  .footer-nav li,
  .social-links li{
      display: inline-block;
      margin-right: 20px;
  }
  .footer-nav li a:link,
  .footer-nav li a:visited,
  .social-links li a:link,
  .social-links li a:visited{
      text-decoration: none;
      border:  0;
      color: #888;
  }
  .footer-nav li a:hover,
  .footer-nav li a:active{
      color: #ddd;
  }
  footer p{
      color: #888;
      text-align: center;
  }
  .fb:hover{
      color: #3b5998;
  }
  .google:hover{
      color: #dd4b39;
  }
  .twitter:hover{
      color: #00aced;
  }
  .insta:hover{
      color: #517fa4;
  }
  .social-links li a:link,
  .social-links li a:visited{
      font-size: 100%;
  }